* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
@mixin border {
  border: solid 1px transparent;
  border-radius: 4px;
}
html,
body {
  height: 100%;
}
$linear-gradient: (to right, #546167, #2a333a);
.header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #546167, #2a333a);
}
.header__home-logo {
  margin: 1%;
  cursor: pointer;
}
.header__home-img {
  width: 2rem;
}
.main-visual {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: linear-gradient(to right, #546167, #2a333a);
}
.block {
  @include border;
  width: 45%;
  height: 300px;
  margin: 0 1% 2% 1%;
  border: 1px solid rgb(40, 49, 118);
}
.main__ray {
  background-image: url(../images/optg.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main__ray_img {
  @include border;
  height: 100%;
  object-fit: cover;
}
.main__ray:hover {
  position: absolute;
  margin-top: -7%;
  transform: scale(2.1);
}
.main__text {
  width: 30%;
  background-color: #edf7ff;
  opacity: 70%;
  border: #546167;
  border: solid 1px transparent;
  border-radius: 4px;
  font-size: 1.2rem;
}
.main__button {
  @include border;
  background-color: #0b242d;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  width: 5%;
  height: 30px;

  font-size: 0.8rem;
  font-weight: light;
  cursor: pointer;
}
.main__button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.main__button:hover,
.main__button:focus {
  color: #a39fd8;
  border-color: currentColor;
  background-color: rgb(255, 255, 255);
}
