* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
@mixin border {
  border: solid 1px transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid #007494;
}

body {
  height: 100%;
}

.header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: auto;
}

.header__home-logo {
  margin: 1%;
  cursor: pointer;
}

.header__home-img {
  width: 10rem;
}

.main-visual {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.block {
  @include border;
  border: solid 1px transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 35%;
  height: 300px;
  margin: 0 1% 2% 1%;
  border: 1.5px solid #007494;
}
.main__stl_viewer {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.main__ray {
  cursor: pointer;
  margin-left: 0;
}
.main__slider,
.main__stl {
  cursor: pointer;
}
@media screen and (min-width: 769px) {
  .main__stl:hover {
    position: absolute;
    width: 80%;
    height: 80%;
    margin-top: 40%;
  }
  .main__stl:hover ~ .main__form {
    position: absolute;
    margin-top: 83%;
    width: 80%;
    height: 60px;
  }

  .main__ray:hover,
  .main__slider:hover {
    position: absolute;
    width: 40%;
    height: 40%;
    margin-top: 18%;
    z-index: 99;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
  }
  .main__ray:hover + .main__form,
  .main__slider:hover ~ .main__form {
    position: absolute;
    margin-top: 920px;
    width: 80%;
    height: 60px;
  }
  .main__slider:hover + .main__ray,
  .main__stl:hover + .main__slider,
  .main__stl:hover ~ .main__ray {
    display: none;
  }

  .main__button:hover,
  .main__button:focus {
    color: #a39fd8;
    border-color: currentColor;
    background-color: rgb(255, 255, 255);
  }
}
.main__form {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 300px;
}
.main__link-ray {
  display: none;
}

.main__link-ray {
  display: none;
}
.main__text {
  width: 85%;
  height: auto;
  background-color: #edf7ff;
  opacity: 70%;
  border-radius: 4px;
  font-size: 1.2rem;

  border: 1px solid #007494;
}

.main__button {
  @include border;

  border: solid 1px transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #ffffff;
  font-size: 17px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  border-radius: 30px;
  background-color: #007494;
  background-position: center center;
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.main__button:active {
  transform: translateY(1px);
}

.swiper,
.swiper3 {
  width: 100%;
  height: 100%;
}

.swiper-slide,
.main__ray-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide,
.main__ray-slide {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.swiper,
.swiper3 {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2,
.mySwiper4 {
  height: 80%;
  width: 100%;
}

.mySwiper,
.mySwiper3 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide,
.mySwiper3 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 16px;
}

.mySwiper .swiper-slide-thumb-active,
.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide,
.main__ray-slide {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-fit: cover;
  border-radius: 20px;
}
.swiper-slide__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.swiper-slide__img {
  border-radius: 20px;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #007494;
}
@media screen and (max-width: 768px) {
  .main-visual {
    display: block;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .block,
  .main__form {
    width: 90%;
    margin: 5%;
  }
}
